<span class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id#">
  <a class="btn btn-sm btn-default action">#name#</a>
  <script>
    $('.cmd[data-cmd_id=#id#] .action').off();
    $('.cmd[data-cmd_id=#id#] .action').on('mousedown', function () {
      jeedom.cmd.execute({id: '#id#', notify: false});
    });
    if ('#stopCmd#' == '1') {
      $('.cmd[data-cmd_id=#id#] .action').on('mouseup', function () {
        jeedom.cmd.execute({id: '#id#', notify: false,value : {stopCmd : 1}});
      });
    }
  </script>
</span>
