<div class="eqLogic eqLogic-widget allowResize" data-eqLogic_id="#id#" data-version="dashboard" style="background-color: #background_color#;height: #height#;width: #width#;#style#">
    <span class="statusCmd" style="position : absolute;left : 5px;bottom:0px; width : 30px;z-index: 1030;"></span>
    <center class="widget-name">
        <span style="font-weight:bold;"><a href="#eqLink#">#name#</a></span>
    </center>
    <center>
        <span class="directDisplay"></span>
        <br/>
        #action#
        <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#browseRecord_id#">
            <a class="camera_history btn btn-default btn-xs folder" data-eqLogic_id="#id#" style="margin-top:5px;"><i class="fa fa-folder-open"></i></a>
        </span>
    </center>
    <div class="md_cameraZoom" data-eqLogic_id="#id#" title="#humanname#">
        <center>
            <div class="display"></div>
            #action#
        </center>
    </div>
    <script>
        if ($(".md_cameraZoom[data-eqLogic_id=#id#]").length > 1) {
            while ($(".md_cameraZoom[data-eqLogic_id=#id#]").length > 1) {
                $(".md_cameraZoom[data-eqLogic_id=#id#]").eq(0).remove();
            }
        }
        $('.camera_history[data-eqLogic_id=#id#]').off().on('click', function () {
            $('#md_modal').dialog({title: "Historique #name#"});
            $('#md_modal').load('index.php?v=d&plugin=camera&modal=camera.history&id=#id#').dialog('open');
        });
        $(".md_cameraZoom[data-eqLogic_id=#id#]").dialog({
            autoOpen: false,
            modal: true,
            resizable: false,
            height: ((jQuery(window).height() - 50) < 550) ? (jQuery(window).height() - 100) : 600,
            width: ((jQuery(window).width() - 50) < 650) ? (jQuery(window).width() - 100) : 700,
            open: function () {
                $("body").css({overflow: 'hidden'});
            },
            beforeClose: function (event, ui) {
                $("body").css({overflow: 'inherit'});
            }
        });

        $('.zoom[data-eqLogic_id=#id#]').off().unbind();
        $('.eqLogic[data-eqLogic_id=#id#]').delegate('.zoom', 'click', function () {
            $(".md_cameraZoom[data-eqLogic_id=#id#] .display").empty().append("<center><img src='#url#' class='img-responsive'/></center>");
            $(".md_cameraZoom[data-eqLogic_id=#id#]").dialog("open");
        });

        function refreshImgCam#id#(){
           var url = "#url#";
           if(url.indexOf('?') > 0){
            url += '&t='+(new Date()).getTime();
        }else{
            url += '?t='+(new Date()).getTime();
        }
        var img = $('<img class="zoom cursor img-responsive" data-eqLogic_id="#id#" style="width:90%"/>').attr('src', url).load(function() {
           $('.eqLogic[data-eqLogic_id=#id#] .directDisplay').empty().append(img);
           var imgFull = img.clone();
           imgFull.css('width','auto');
           imgFull.removeClass('zoom');
           $(".md_cameraZoom[data-eqLogic_id=#id#] .display").empty().append(imgFull);
           setTimeout(refreshImgCam#id#, #refreshDelay#);
       });
    }

    refreshImgCam#id#();
</script>
</div>
