<div class="eqLogic eqLogic-widget allowResize" data-eqLogic_id="#id#" data-version="dashboard" style="background-color: #background_color#;height: #height#;width: #width#;#style#;min-height: 80px;min-weight:80px;">
    <span class="statusCmd" style="position : absolute;left : 5px;bottom:0px; width : 30px;z-index: 1030;"></span>
    <center class="widget-name">
        <span style="font-weight:bold;"><a href="#eqLink#">#name#</a></span>
    </center>
    <center>
        <span class="directDisplay zoom cursor" style="width : 90%;max-height:90%"><img src="#url#" class="img-responsive" data-eqLogic_id="#id#"/></span>
        #action#
        <span class="cmd cmd-widget" data-type="action" data-subtype="other">
            <a class="camera_history btn btn-default btn-sm folder" data-eqLogic_id="#id#" style="background-color:#cmdColor# !important;border-color : transparent !important;"><i class="fa fa-folder-open"></i></a>
        </span>
    </center>
    <div class="md_cameraZoom" data-eqLogic_id="#id#" title="#humanname#">
        <center>
            <div class="display"><img src="#url#" class="img-responsive" data-eqLogic_id="#id#" /></div>
            <br/>
            #action#
        </center>
    </div>
    <script>
        if ($(".md_cameraZoom[data-eqLogic_id=#id#]").length > 1) {
            while ($(".md_cameraZoom[data-eqLogic_id=#id#]").length > 1) {
                $(".md_cameraZoom[data-eqLogic_id=#id#]").eq(0).remove();
            }
        }
        $('.camera_history[data-eqLogic_id=#id#]').off().on('click', function () {
            $('#md_modal').dialog({title: "Historique #name#"});
            $('#md_modal').load('index.php?v=d&plugin=camera&modal=camera.history&id=#id#').dialog('open');
        });
        $(".md_cameraZoom[data-eqLogic_id=#id#]").dialog({
            autoOpen: false,
            modal: true,
            resizable: false,
            height: ((jQuery(window).height() - 100) < 780) ? jQuery(window).height() - 100 : 780,
            width: ((jQuery(window).width() - 100) < 1280) ? (jQuery(window).width() - 100) : 1280,
            open: function () {
                $("body").css({overflow: 'hidden'});
            },
            beforeClose: function (event, ui) {
                $("body").css({overflow: 'inherit'});
            }
        });

        $('.zoom[data-eqLogic_id=#id#]').off().unbind();
        $('.eqLogic[data-eqLogic_id=#id#]').delegate('.zoom', 'click', function () {
            $(".md_cameraZoom[data-eqLogic_id=#id#]").dialog("open");
        });

        function refreshImgCam#id#(){
         var url = "#url#";
         if(url.indexOf('?') > 0){
            url += '&t='+(new Date()).getTime();
        }else{
            url += '?t='+(new Date()).getTime();
        }
        var img = new Image();
        img.src = url;
        img.onload = function() {
         $(".md_cameraZoom[data-eqLogic_id=#id#] .display img").attr('src',img.src);
         $('.eqLogic[data-eqLogic_id=#id#] .directDisplay img').attr('src',img.src);
         setTimeout(refreshImgCam#id#, #refreshDelay#);
     }
 }

 refreshImgCam#id#();
</script>
</div>
