<div class="eqLogic eqLogic-widget allowResize" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" style="min-width : 150px;min-height : 180px ;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;width: #width#;height: #height#;#style#">
    <span class="statusCmd" style="position : absolute;right : 3px;top:0px; width : 15px;z-index: 1030;"></span>
    <center class="widget-name">
        <span style="font-weight:bold;#hideEqLogicName#"><a href="#eqLink#">#name_display# <span style="font-size: 0.85em;">#object_name#</span></a></span>
    </center>
    <center>
        <span class="directDisplay zoom cursor"><img src="/plugins/camera/core/img/no-image-blanc.png" style="display:block;" data-eqLogic_id="#id#"/></span>
        <span style="position:absolute;bottom:4px;left:0px;width:100%;">
            <center>
             <span>#action#</span>
             <span class="cmd cmd-widget" data-type="action" data-subtype="other">
                <a class="camera_history btn btn-default btn-sm folder" data-eqLogic_id="#id#" style="background-color:#cmd-background-color# !important;border-color : transparent !important;"><i class="fa fa-folder-open"></i></a>
            </center>
        </span>
    </span>

</center>
<div class="md_cameraZoom" data-eqLogic_uid="#uid#" title="#name_display#">
    <center>
        <div class="display"><img src="plugins/camera/core/img/no-image-noir.png" class="img-responsive" data-eqLogic_id="#id#" /></div>
        <br/>#action#
    </center>
</div>
<script>
   $('.eqLogic[data-eqLogic_id=#id#] .cmd[data-cmd_id=#cmd_off_id#]').hide();
   if ($(".md_cameraZoom[data-eqLogic_uid=#uid#]").length > 1) {
    while ($(".md_cameraZoom[data-eqLogic_uid=#uid#]").length > 1) {
        $(".md_cameraZoom[data-eqLogic_uid=#uid#]").eq(0).remove();
    }
}
$('.eqLogic[data-eqLogic_id=#id#] .directDisplay img').css('max-height',$('.eqLogic[data-eqLogic_id=#id#]').height() - 60);
$('.eqLogic[data-eqLogic_id=#id#] .directDisplay img').css('max-width',$('.eqLogic[data-eqLogic_id=#id#]').width());
$('.eqLogic[data-eqLogic_id=#id#]').off('resize').on('resize',function(){
    $('.eqLogic[data-eqLogic_id=#id#] .directDisplay img').css('max-height',$('.eqLogic[data-eqLogic_id=#id#]').height() - 60);
    $('.eqLogic[data-eqLogic_id=#id#] .directDisplay img').css('max-width',$('.eqLogic[data-eqLogic_id=#id#]').width());
});
$('.camera_history[data-eqLogic_id=#id#]').off().on('click', function () {
    $('#md_modal').dialog({title: "Historique #name#"});
    $('#md_modal').load('index.php?v=d&plugin=camera&modal=camera.history&id=#id#').dialog('open');
});
$(".md_cameraZoom[data-eqLogic_uid=#uid#]").dialog({
    autoOpen: false,
    modal: true,
    resizable: false,
    height: ((jQuery(window).height() - 100) < 780) ? jQuery(window).height() - 100 : 780,
    width: ((jQuery(window).width() - 100) < 1280) ? (jQuery(window).width() - 100) : 1280,
    open: function () {
        $("body").css({overflow: 'hidden'});
        $(".md_cameraZoom[data-eqLogic_uid=#uid#] .display img").height($(".md_cameraZoom[data-eqLogic_uid=#uid#]").height() - 50);
        if (typeof timeoutCamera#id# !== "undefined") {
            clearTimeout(timeoutCamera#id#);
        }
        refreshImgCam#id#();
    },
    beforeClose: function (event, ui) {
        $("body").css({overflow: 'inherit'});
    }
});

$('.zoom[data-eqLogic_id=#id#]').off().unbind();
$('.eqLogic[data-eqLogic_id=#id#]').delegate('.zoom', 'click', function () {
    $(".md_cameraZoom[data-eqLogic_uid=#uid#]").dialog("open");
});

function refreshImgCam#id#(){
    var start = Date.now();
    var url = "#url#";
    if(url.indexOf('?') > 0){
        url += '&t='+(new Date()).getTime();
    }else{
        url += '?t='+(new Date()).getTime();
    }
    var img = new Image();
    img.src = url;
    img.onload = function() {
       $(".md_cameraZoom[data-eqLogic_uid=#uid#] .display img").attr('src',img.src);
       $('.eqLogic[data-eqLogic_id=#id#] .directDisplay img').attr('src',img.src);
       if('#cmd_off_id#' != '""' && '#cmd_on_id#' != '""'){
        $('.eqLogic[data-eqLogic_id=#id#] .cmd[data-cmd_id=#cmd_off_id#]').show();
        $('.eqLogic[data-eqLogic_id=#id#] .cmd[data-cmd_id=#cmd_on_id#]').hide();
    }
    if ($(".md_cameraZoom[data-eqLogic_uid=#uid#]").is(':visible')){
        var delay = #refreshDelayFast# - (Date.now() - start);
    }else{
        var delay = #refreshDelaySlow# - (Date.now() - start);
    }
    if(delay < 10){
        delay = 10;
    }
    if($('.eqLogic[data-eqLogic_uid=#uid#]').html() != undefined){
        timeoutCamera#id# =  setTimeout(refreshImgCam#id#,delay);
    }
}
img.onerror = function() {
 $(".md_cameraZoom[data-eqLogic_uid=#uid#] .display img").attr('src','plugins/camera/core/img/no-image-noir.png');
 $('.eqLogic[data-eqLogic_id=#id#] .directDisplay img').attr('src','plugins/camera/core/img/no-image-blanc.png');
 if('#cmd_off_id#' != '""' && '#cmd_on_id#' != '""'){
    $('.eqLogic[data-eqLogic_id=#id#] .cmd[data-cmd_id=#cmd_off_id#]').hide();
    $('.eqLogic[data-eqLogic_id=#id#] .cmd[data-cmd_id=#cmd_on_id#]').show();
}
if($('.eqLogic[data-eqLogic_uid=#uid#]').html() != undefined){
    timeoutCamera#id# = setTimeout(refreshImgCam#id#, #refreshDelaySlow# * 2);
}
}
}
if (typeof timeoutCamera#id# !== "undefined") {
    clearTimeout(timeoutCamera#id#);
}
refreshImgCam#id#();
</script>
</div>
