<div class="camera" data-camera_uid="#uid#" data-camera_id="#id#" style="width: 100%;height: 100%">
  <span class="directDisplay" style="width: 100%;height: 100%"><img src="plugins/camera/core/img/no-image-blanc.png" style="width: 100%;height: 100%" data-camera_id="#id#"/></span>
  <div class="md_cameraZoom" data-camera_uid="#uid#" data-camera_id="#id#" title="#name_display#">
    <center>
      <div class="display"><img src="plugins/camera/core/img/no-image-noir.png" class="img-responsive" data-camera_id="#id#" /></div>
      <br/>
      #action#
      <span class="cmd cmd-widget" data-type="action" data-subtype="other">
        <a class="camera_history btn btn-default btn-sm folder action" data-camera_id="#id#"><i class="fa fa-folder-open"></i></a>
      </span>
    </center>
  </div>
  <script>
    var eqLogic_#id# = $('.camera[data-camera_id=#id#]');
    var thumbnail_#id# = false;
    var img_#id# = new Image()
    var start_#id# = 0;
    eqLogic_#id#.find('.cmd[data-cmd_id=#cmd_off_id#]').hide();
    if ($(".md_cameraZoom[data-eqLogic_uid=#uid#]").length > 1) {
      while ($(".md_cameraZoom[data-eqLogic_uid=#uid#]").length > 1) {
        $(".md_cameraZoom[data-eqLogic_uid=#uid#]").eq(0).remove();
      }
    }
    var md_eqLogic_#uid# = $(".md_cameraZoom[data-camera_uid=#uid#]")
    eqLogic_#id#.find('.directDisplay img').css('max-height',eqLogic_#id#.height() - 60).css('max-width',eqLogic_#id#.width());
    eqLogic_#id#.off('resize').on('resize',function(){
      eqLogic_#id#.find('.directDisplay img').css('max-height',eqLogic_#id#.height() - 60).css('max-width',eqLogic_#id#.width());
    });
    $('.camera_history[data-eqLogic_id=#id#]').off().on('click', function () {
      $('#md_modal').dialog({title: "Historique #name#"}).load('index.php?v=d&plugin=camera&modal=camera.history&id=#id#').dialog('open');
    });
    md_eqLogic_#uid#.dialog({
      autoOpen: false,
      modal: true,
      resizable: false,
      closeText: '',
      height: jQuery(window).height() - 65,
      width: jQuery(window).width() - 40,
      position: { my: "center bottom-10", at: "center bottom", of: window },
      open: function () {
        $("body").css({overflow: 'hidden'});
        md_eqLogic_#uid#.find('.display img').height(md_eqLogic_#uid#.height() - 50);
        if (typeof timeoutCamera#id# !== "undefined") {
          clearTimeout(timeoutCamera#id#);
        }
        refreshImgCam#id#();
      },
      beforeClose: function (event, ui) {
        $("body").css({overflow: 'inherit'});
      }
    });
    eqLogic_#id#.off('click','.zoom').on( 'click','.zoom', function () {
      md_eqLogic_#uid#.dialog("open");
    });
    maxWidth_#id#_thumbnail = 0;
    maxWidth_#id# = 0;
    
    img_#id#.onload = function() {
      if(thumbnail_#id#){
        eqLogic_#id#.find('.directDisplay img').attr('src',img_#id#.src).attr('data-imgready',1);
      }else{
        md_eqLogic_#uid#.find('.display img').attr('src',img_#id#.src);
      }
      if('#cmd_off_id#' != '""' && '#cmd_on_id#' != '""'){
        $('.cmd[data-cmd_id=#cmd_off_id#]').show();
        $('.cmd[data-cmd_id=#cmd_on_id#]').hide();
      }
      let delay = (thumbnail_#id#) ? #refreshDelaySlow# - (Date.now() - start_#id#) :  #refreshDelayFast# - (Date.now() - start_#id#);
      timeoutCamera#id# =  setTimeout(refreshImgCam#id#,delay);
    };
    img_#id#.onerror = function() {
      md_eqLogic_#uid#.find('.display img').attr('src','plugins/camera/core/img/no-image-noir.png');
      eqLogic_#id#.find('.directDisplay img').attr('src','plugins/camera/core/img/no-image-blanc.png');
      if('#cmd_off_id#' != '""' && '#cmd_on_id#' != '""'){
        $('.cmd[data-cmd_id=#cmd_off_id#]').hide();
        $('.cmd[data-cmd_id=#cmd_on_id#]').show();
      }
      timeoutCamera#id# = setTimeout(refreshImgCam#id#, #refreshDelaySlow# * 2);
    };
    function refreshImgCam#id#(){
      if(!$('.eqLogic[data-eqLogic_uid=#uid#]') || !eqLogic_#id# || !eqLogic_#id#.find('.directDisplay')){
        return;
      }
      if(!md_eqLogic_#uid#.is(':visible') && $(".md_cameraZoom").is(':visible')){
        timeoutCamera#id# =  setTimeout(refreshImgCam#id#,#refreshDelaySlow#);
        return;
      }
      thumbnail_#id# = !md_eqLogic_#uid#.is(':visible');
      start_#id# = Date.now();
      let url = "#url#";
      url += (url.indexOf('?') > 0) ? '&t='+(new Date()).getTime() : '?t='+(new Date()).getTime();
      if(maxWidth_#id#_thumbnail < eqLogic_#id#.find('.directDisplay img').css('max-width').replace('px','')){
        maxWidth_#id#_thumbnail = eqLogic_#id#.find('.directDisplay img').css('max-width').replace('px','');
      }
      if(maxWidth_#id# < md_eqLogic_#uid#.find('.display img').width()){
        maxWidth_#id# = md_eqLogic_#uid#.find('.display img').width();
      }
      url += (thumbnail_#id#) ? '&thumbnail=1&width='+ maxWidth_#id#_thumbnail:'&width='+maxWidth_#id#;
      img_#id#.src = url;
    }
    if (typeof timeoutCamera#id# !== "undefined") {
      clearTimeout(timeoutCamera#id#);
    }
    setTimeout(refreshImgCam#id#,50);
  </script>
</div>
