<div class="eqLogic eqLogic-widget" data-eqLogic_id="#id#" data-version="mobile" style="padding-top : 3px;">
  <center>#name#</center>
  <center><a href="#popupCameraZoom#id#" data-rel="popup" data-position-to="window" data-transition="none" class="directDisplay" data-first="0"></a></center>
  
  <div data-role="popup" id="popupCameraZoom#id#">
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
    <div class="display" style="margin-left : auto;margin-right : auto;width:auto;"></div>
    <center>
      #action#
    </center>
  </div>
  <script>
    function refreshImgCam#id#(){
      var url = "#url#";
      if(url.indexOf('?') > 0){
        url += '&t='+(new Date()).getTime();
      }else{
        url += '?t='+(new Date()).getTime();
      }
      $('.eqLogic[data-eqLogic_id=#id#] .display').css('max-width',screen.width);
      var img = $('<img data-eqLogic_id="#id#" style="width:90%;display:block;"/>').attr('src', url).load(function() {
       $('.eqLogic[data-eqLogic_id=#id#] .directDisplay').empty().append(img);
       $("#popupCameraZoom#id# .display").empty().append(img.clone());

       if($('.eqLogic[data-eqLogic_id=#id#] .directDisplay').html() != undefined){
         timeoutCamera#id# = setTimeout(refreshImgCam#id#, #refreshDelay#);
       }
       if($('.eqLogic[data-eqLogic_id=#id#] .directDisplay').attr('data-first') == 0){
        $('.eqLogic[data-eqLogic_id=#id#] .directDisplay').attr('data-first',1);
        setTileSize('.eqLogic');
        $('#div_displayEquipement').packery({gutter : 4});
      }
    });
    };
    if (typeof timeoutCamera#id# !== "undefined") {
      clearTimeout(timeoutCamera#id#);
    }
    refreshImgCam#id#();
  </script>

</div>
