<div class="eqLogic eqLogic-widget" data-eqLogic_id="#id#" data-version="mobile" style="padding-top : 3px;background-color: #background_color#;#style#;" data-first="0">
  <center>#name#</center>
  <center>
    <img data-eqLogic_id="#id#" class="directDisplay" style="width:90%;display:block;margin-bottom : 5px;" src="#url#"/>
  </center>

  <script>
    $('.eqLogic[data-eqLogic_id=#id#]').height(deviceInfo.bSize  * (3/4) * 1.2);
    function refreshImgCam#id#(){
      var url = "#url#";
      if(url.indexOf('?') > 0){
        url += '&t='+(new Date()).getTime();
      }else{
        url += '?t='+(new Date()).getTime();
      }
      var img = new Image();
      img.src = url;
      img.onload = function() {
       $('.eqLogic[data-eqLogic_id=#id#] img.directDisplay').attr('src',img.src);
       if($('.eqLogic[data-eqLogic_id=#id#] img.directDisplay').html() != undefined){
         timeoutCamera#id# = setTimeout(refreshImgCam#id#, #refreshDelay#);
       }
     }
     img.onerror = function() {
       $('.eqLogic[data-eqLogic_id=#id#] img.directDisplay').attr('src','plugins/camera/core/img/no-image.png');
       timeoutCamera#id# = setTimeout(refreshImgCam#id#, #refreshDelay# * 5);
     }
   };
   if (typeof timeoutCamera#id# !== "undefined") {
    clearTimeout(timeoutCamera#id#);
  }
  refreshImgCam#id#();
</script>
</div>
